<h3>Personal Details</h3>
<form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value )" novalidate>
    <div class="grid-container">
        <div class="grid-item">
        <label>First Name</label>
        <input type="text" name="fname" ngModel></div>
        <div class="grid-item">
        <label>Middle Name</label>
        <input type="text" name="mname" ngModel></div>
        <div class="grid-item">
        <label>Last Name</label>
        <input type="text" name="lname" ngModel></div>
        <div class="grid-item">
        <label>DNI/NIE</label>
        <input type="text" name="DNI" ngModel></div>
        <div class="grid-item">
        <label>Date Of Birth</label>
        <input type="date" name="dob" ngModel></div>
        <div class="grid-item">
        <label>Gender</label><br>
        <div class="radioDiv">
                <div class="radioElement">
                        <label class="radioContainer">Male
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                              </label>
                    </div>
                    <div class="radioElement">
                            <label class="radioContainer">Female
                                    <input type="radio" name="radio">
                                    <span class="checkmark"></span>
                                  </label>
                    </div>
           
            
        </div>
       

        </div>
        <div class="grid-item">
        <label>Email ID</label>
        <input type="email" name="email" ngModel></div>
        <div class="grid-item">
        <label>MobileNo</label>
        <input type="number" name="mobile" ngModel></div>
        <div class="grid-item">
        <label>Lan Line</label>
        <input type="number" name="lanline" ngModel></div>
        <div></div>
        <div></div>
        <button type="submit" class="btn">Continue &#8594;</button>
      </div>
     
</form>