<h3>Personal Details</h3>
<form action="">
    <div class="grid-container">
        <div class="grid-item">
        <div>First Name</div>
        <input type="text"></div>
        <div class="grid-item">
        <div>Middle Name</div>
        <input type="text"></div>
        <div class="grid-item">
        <div>Last Name</div>
        <input type="text"></div>
        <div class="grid-item">
        <div>DNI/NIE</div>
        <input type="text"></div>
        <div class="grid-item">
        <div>Date Of Birth</div>
        <input type="text"></div>
        <div class="grid-item">
        <div>Gender</div>
        <input type="text"></div>
        <div class="grid-item">
        <div>Email</div>
        <input type="text"></div>
        <div class="grid-item">
        <div>MobileNo</div>
        <input type="text"></div>
        <div class="grid-item">
        <div>Lan Line</div>
        <input type="text"></div>
      </div>
</form>